MASTER_DATABASE_URL="postgresql://postgres:password@localhost:5432/spm_master"
TENANT_DATABASE_URL="postgresql://postgres:password@localhost:5432/spm_template"
POSTGRES_BASE_URL="postgresql://postgres:password@localhost:5432"
PORT=3000
DOMAIN=localhost:3000
